* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 13px;
}
body {
    font-family: Verdana, Geneva, sans-serif;
}

nav {
    background-color: #2A64AD;
    overflow: hidden;
}
nav p {
    font-family: Consolas, monaco, monospace;
    color: white;
    text-align: center;
    font-size: 2.3rem;
    line-height: 0;
    letter-spacing: 0.08rem;
}
nav ul {
    position: relative;
    list-style: none;
    overflow: hidden;
    margin: 0;
}
nav ul li {
    float: none;
    text-align: left;
    text-decoration: none;
    font-size: 2rem;
    line-height: 0;
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: lighter;
    /* font-variant: small-caps; */
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}
nav ul li a {
    color: white;
    display: block;
    padding: 1.75rem 1.5rem;
}
nav ul li a:hover {
    background-color: #0d1e35;
    text-decoration: none;
}
nav img {
    position: absolute;
    bottom: 0;
}

a {
    text-decoration: none;
    color: #2A64AD;
}
a:hover {
    text-decoration: underline;
}

div#home {
    position: relative;
    margin-bottom: 1.5rem;
}
div#home h1 {
    /* position: absolute; */
    /* text-align: center; */
    /* top: 17%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* width: 100%; */
    /* font-size: 3.5rem; */
    /* font-weight: lighter; */
    /* font-variant: small-caps; */
    /* letter-spacing: 1px; */
    /* color: white; */
    /* text-shadow: 2px 2px 8px black, -2px -2px 8px black, 2px -2px 8px black, -2px 2px 8px black; */
    margin-bottom: 1.5rem;
}

div.toc {margin: 2rem 0rem 2rem;}
h1 + div.toc {margin-top: 1rem;}
div.toc div.heading {display: none;}

h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma, Geneva, sans-serif;
    color: #000;
    margin-bottom: 1rem;
}
h1 {
    font-size: 3rem;
    margin-bottom: 0;
}
h2 {
    font-size: 2rem;
    margin-top: 2rem;
}
h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
h4 {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}
h5 {
    font-size: 1.1rem;
    font-style: italic;
}
h6 {
    font-size: 0.9rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    color: #000;
    margin: 1rem 0rem;
}
li {
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: #000
}
ul {
    list-style-position: outside;
    margin-left: 2rem;
}

code {
    font-family: Consolas, monaco, monospace;
    font-size: 0.95rem;
}
p code {
    background-color: #EEE;
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
}
pre {
    background-color: #f8f8f8;
    overflow: auto;
    padding: 0.8rem;
    margin: 1rem 0rem;
}

section.footnotes {
    margin-top: 2rem;
}
.footnotes ol {
    list-style-position: outside;
    margin-left: 2rem;
}
.footnotes li {
    font-size: 1rem;
}
.footnotes p {
    font-size: 1rem;
}
sup {
    line-height: 0;
    /* font-weight: bolder; */
}

footer {
    padding-top: 0.8rem;
    border-top: 1px solid #999;
}
footer ul {
    list-style: none;
    font-size: 1.5rem;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    margin-left: 0;
    display: flex;
    align-itrems: stretch;
    justify-content: space-between;
}
footer ul li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}
footer p {
    font-size: 0.8rem;
    text-align: left;
}

ul.posts {
    margin: 1rem 0rem 1.5rem;
}
ul.posts div {
    margin-bottom: 1rem;
}
ul.posts li {
    list-style: none;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
ul.posts p {
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1.3rem;
    padding-left: 0.6rem;
    margin: 0;
    margin-left: 0.6rem;
    border-left: 1px solid #999;
}

p.meta {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
h1 + p:not(.meta) {
    margin-top: 2rem;
}
h1 + ul.posts {
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
    body {
        width: 100%
    }
    nav {
        position: relative;
        top: 0;
        width: 100%;
    }
    nav p {
        position: absolute;
        right: 0;
        margin: 4px 4px;
        padding: 20px 15px;
        border-left: 1px solid white;
        font-size: 2rem;
    }
    nav ul li#menu a:hover {background-color: transparent;}
    nav ul li:not(:first-child) {display: none;}
    nav.display ul li {
        width: 100%;
        display: block;
    }
    nav img {display: none;}
    div.container {
        margin: 15px;
    }
    footer {
        margin: 15px;
    }
}
@media screen and (min-width: 769px) {
    nav ul li#menu {
        display: none;
    }
    nav {
        width: clamp(200px, 20%, 300px);
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
    }
    nav p {
        margin: 0px 20px 10px;
        padding: 30px 0px 30px;
        border-bottom: 1px solid white;
    }
    div.container {
        position: relative;
        left: clamp(200px, 20%, 300px);
        width: min(80%, 600px);
        margin: 2%;
    }
    footer {
        position: relative;
        left: clamp(200px, 20%, 300px);
        width: min(80%, 600px);
        margin: 2%;
    }
}
@media screen and (max-height: 768px) {
    nav img {display: none;}
}
